.container {
  width: 800px;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(163, 163, 163, 0.5);

  .profile {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 120px;
      height: 40px;
      border-radius: 100px;
      border: 1px solid #38b88c;
      font-weight: 700;
      color: #38b88c;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s;
      box-shadow: 1px 1px 4px 1px rgba(163, 163, 163, 0.3);

      &:hover {
        background-color: #38b88c;
        color: #fff;
      }
    }

    .profileContainer {
      display: flex;
    }

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 200px;
      border: 3px solid #38b88c;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    .info {
      margin-left: 1rem;
      word-break: break-all;
      word-wrap: break-word;

      h1 {
        font-size: 1.5rem;
        color: #333;
      }

      p {
        font-size: 0.8rem;
        letter-spacing: -0.5px;
        color: #38b88c;
        padding: 0.1rem;
      }
    }
  }
  .description {
    margin-top: 1.5rem;
    width: 80%;

    p {
      margin-top: 1rem;
      color: #333;
      font-size: 0.9rem;
    }
  }

  .hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    span {
      padding: 0.5rem 1rem;
      border: 1px solid #33333340;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: 500;
      color: #333;
      cursor: pointer;
    }
  }

  .galerry {
    width: 100%;
    margin: 1rem;

    .slide {
      width: 220px;
      height: 120px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
