.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  max-width: 90%;
  max-height: 90%;
  background-color: #fff;
  text-align: center;
  overflow: auto;
  padding: 20px;

  button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
  }
}

.modalContent img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
